.searchContainer{
  display: flex;
  justify-content: center;
  margin-top: .625rem;
  opacity: 0.9;
}

.searchBox {
  position: relative;
}

.searchInput {
  height: 1.5rem;
  border-radius: 10px;
  padding: 5px 30px 5px 10px;
  border: 1px solid #fff;
}

.searchInput:focus {
  outline: none;
  border: 1px solid #5ED3F3;
  box-shadow: 0 0 5px #5ED3F3;
}

.searchButton {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 100%;
  border: none;
  background: none;
  padding: 0 10px;
}